input type="hidden" name="#{name}[]"
select name="#{name}[]" multiple="multiple"
	- options.each do |ovalue, display|
		option value=ovalue selected=("selected" if value.map(&:to_s).include?(ovalue.to_s)) = display
