<h1><%= params['filename'] %></h1>
<form action="<%= path %>" method="post">
	<input type="hidden" name="_method" value="PUT" />
	<textarea name="source"></textarea>
	<button type="submit">Save</button>
</form>

<a href="?">Back to editor</a>
