$input-width: 20rem;

* {
	box-sizing: border-box;
}

%card {
	background: #f0f0f0;
	border: 1px solid #ccc;
	border-radius: 2px;
	display: block;
	margin-bottom: 2rem;
	max-width: 100%;
	overflow: auto;
	padding: 1rem;

	:last-child {
		margin-bottom: 0;
	}
}

.card {
	@extend %card;
}

code {
	@extend %card;
}

form {
	margin-bottom: 2rem;

	img {
		display: block;
		max-width: $input-width;
	}
}

label {
	display: block;
	font-weight: normal;
	margin: 0 0 1rem;
}

input[type="text"],
input[type="url"],
input[type="email"],
input[type="file"],
input[type="date"],
input[type="time"],
select,
textarea {
	border: 1px solid #ccc;
	border-radius: 2px;
	display: block;
	font-size: 1rem;
	padding: 1rem;
	width: $input-width;
}

textarea {
	height: 10rem;
}

button {
	@extend %button;
}

.error {
	color: $error-color;
}

ul form {
	display: inline-block;
	margin-bottom: 0;

	input[type="text"] {
		display: inline-block;
		font-size: 0.8rem;
		padding: 0.25rem 0.5rem;
		width: auto;
	}

	button {
		@extend %small-button;
	}
}

#file-browser {
	align-items: center;
	background: rgba(#fff, 0.9);
	bottom: 0;
	display: none;
	justify-content: center;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;

	.contents {
		background: #fff;
		border: 1px solid #ccc;
		border-radius: 2px;
		padding: 2rem;
	}
}
