body > section {
	background: #ccc;
	margin: auto;
	max-width: 24rem;
	text-align: center;

	> h1 {
		img {
			display: block;
			margin: 0 auto 1rem;
			max-width: 50%;
		}
	}

	input {
		margin: auto;
	}

	button {
		width: 100%;
	}
}
