* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

label {
  display: block;
  margin: 0 0 1rem 0;
  font-weight: normal;
}

input[type="text"],
textarea {
  display: block;
  padding: 1rem;
  width: 20rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 2px;
}

textarea {
  height: 10rem;
}

button {
  padding: 1rem 2rem;
  background: #3498db;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 1rem;
}
