@import "base";

a {
	color: #00a7c2;
}

body {
	display: flex;
	font-family: Lato, sans-serif;
	font-size: 16px;
	margin: 0;
	min-height: 100vh;
	padding: 0;

	> nav {
		$padding: 1rem;

		background: url("/assets/nav.svg") 50% 0 no-repeat #211e31;
		background-size: 100% auto;
		min-width: 16rem;
		padding: $padding;

		> h1 {
			margin: 0 0 2rem;

			a {
				$size: 2rem;

				background: url("/assets/logomark.svg") center no-repeat;
				background-size: contain;
				color: transparent;
				display: block;
				font: 0/0 a;
				height: $size;
				width: $size;
			}
		}

		> section {
			margin-bottom: 2rem;
			$h1-bottom-margin: 1rem;

			> h1 {
				border-bottom: 1px solid #07060d;
				color: rgba(#fff, 0.35);
				font-size: 0.75rem;
				margin: 0 -#{$padding} $h1-bottom-margin;
				padding: 0.5rem $padding;
				text-transform: uppercase;

				+ ul {
					margin-top: -#{$h1-bottom-margin};
				}
			}

			> h2 {
				color: #fff;
				font-size: 1.25rem;
				font-weight: 300;
				margin-bottom: 0;
			}

			> a {
				color: #00cae7;
				font-size: 0.75rem;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}

			> ul {
				list-style-type: none;
				margin-left: 0;
				padding-left: 0;

				a {
					border-left: 4px solid transparent;
					color: rgba(#fff, 0.6);
					display: block;
					font-size: 0.875rem;
					margin-left: -$padding;
					margin-right: -$padding;
					padding: 0.75rem $padding;
					text-decoration: none;

					&.active {
						border-color: #ff8006;
						color: #fff;
					}
				}
			}
		}
	}

	> section {
		padding: 1rem 2rem;
	}
}
