@import "variables";
@import "mixins";
@import "base";

a {
	color: $link-color;
}

body {
	display: flex;
	font-family: $font-stack;
	margin: 0;
	min-height: 100vh;
	padding: 0;

	> nav {
		$padding: 1rem;

		background: url("/assets/nav.svg") 50% 0 no-repeat #211e31;
		background-size: 100% auto;
		display: flex;
		flex-direction: column;
		min-width: 16rem;
		padding: $padding;

		> h1 {
			margin: 0 0 2rem;

			a {
				$size: 2rem;

				display: block;
				height: $size;
				overflow: hidden;
				width: $size;

				&::before {
					content: url("/assets/logomark.svg");
					display: block;
				}
			}
		}

		> section {
			margin-bottom: 2rem;
			$h1-bottom-margin: 1rem;

			> h1 {
				border-bottom: 1px solid #07060d;
				color: rgba(#fff, 0.35);
				font-size: 0.75rem;
				margin: 0 #{$padding * -1} $h1-bottom-margin;
				padding: 0.5rem $padding;
				text-transform: uppercase;

				+ ul {
					margin-top: #{$h1-bottom-margin * -1};
				}
			}

			> h2 {
				color: #fff;
				font-size: 1.25rem;
				font-weight: 300;
				margin-bottom: 0;
			}

			> a {
				color: #00cae7;
				font-size: 0.75rem;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}

			> ul {
				list-style-type: none;
				margin-left: 0;
				padding-left: 0;

				a {
					border-left: 4px solid transparent;
					color: rgba(#fff, 0.6);
					display: block;
					font-size: 0.875rem;
					margin-left: -$padding;
					margin-right: -$padding;
					padding: 0.75rem $padding;
					text-decoration: none;

					&.active {
						border-color: #ff8006;
						color: #fff;
					}
				}
			}
		}
	}

	> section {
		$verticalp: 1rem;
		$horizontalp: 2rem;

		flex: 1;
		padding: $verticalp $horizontalp;

		> header {
			background: #f8f8f8;
			border-bottom: 1px solid #d9d9d9;
			margin: #{$verticalp * -1} #{$horizontalp * -1} $horizontalp;
			padding: $verticalp $horizontalp;

			> h1 {
				color: #707070;
				font-size: 1.25rem;
				font-weight: 700;
				margin: 0 0 0.5rem;
			}
		}
	}
}

.breadcrumbs {
	color: #6d6d6d;
	font-size: 0.75rem;
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;

		&::after {
			content: "/";
			margin: 0 0.25rem;
		}

		&:last-child::after {
			content: none;
		}
	}
}

.files {
	list-style-type: none;
	margin: 0 0 2rem;
	padding: 0;

	li {
		align-items: center;
		border-bottom: 1px solid #ebebeb;
		display: flex;

		&:hover {
			background: #f9f9f9;
		}

		> * {
			margin: 0 0.5rem;
		}

		> :first-child {
			display: block;
			flex: 1;
			overflow: hidden;
			padding: 0.3rem 0;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		> .download {
			@extend %button;
			@extend %small-button;
		}
	}
}
