<ul>
<% sites.each do |site| %>
	<li><a href="<%= site.route %>"><%= site.fn %></a></li>
<% end %>
</ul>

<h1>New Site</h1>

<form method="POST" action="/">
	<label>Site name: <input required="required" type="text" name="fn" /></label>
	<label>Git remote: <input required="required" type="text" name="remote" /></label>
	<button type="submit">Add</button>
</form>
