<form method="post" action="/auth/github">
	<button type="submit">Login with Github</button>
</form>

<form method="post" action="/auth/indieauth">
	<button type="submit">Login with your domain</button>
</form>
