<% if OmniAuth::Builder.providers.include?(:github) %>
	<form method="post" action="/auth/github">
		<button type="submit">Login with Github</button>
	</form>
<% end %>

<% if OmniAuth::Builder.providers.include?(:indieauth) %>
	<form method="post" action="/auth/indieauth">
		<button type="submit">Login with your domain</button>
	</form>
<% end %>
