<ul>
  <% files.each do |file| %>
    <li>
      <a href="<%= file.route %>"><%= file.name %></a>
      <% unless file.directory? %>
        <form action="<%= file.route %>" method="post">
          <input type="hidden" name="_method" value="DELETE" />
          <button type="submit">Delete</button>
        </form>
      <% end %>
    </li>
  <% end %>
</ul>
