<h1><%= params['filename'] %></h1>
<form action="<%= path %>" method="post">
  <input type="hidden" name="_method" value="PUT" />
  <%= render_yml(data) %>
  <button type="submit">Save</button>
</form>
